<div class="container" style="height: 660px;">
    <div class="p-5 text-center center border border-5">
        <h1 class="fw-bold">Full Name :</h1>
        <p class="fs-4 fw-bold my-1">EmployeeId:</p>
            <p>employee_Name: </p>
            <p>email:</p>
            <p>contact_Number:</p>
            <p>emergency_Contact_Number:</p>
            <p>address:</p>
            <p>position:</p>
            <p>dOB:</p>
            <p>martial_Status:</p>
            <p>job_Title:</p>
            <p>work_Location:</p>
            <p>date_Of_Joining:</p>
            <p>reporting_To:</p>
           
            
    </div>
</div>
